h2, h3 {
  color: var(--bleufonce);
  font-family: "Arial Black", sans-serif;
}

p {
  color: var(--noir);
  font-size: 18px;
}

.container {
  height: 100%;
  background-color: var(--grisclair);


  // Espacer le add-User et le filtre
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;


    // Positionnement du add-user et couleur du bouton
    .add-user {
      text-align: left;
      width: 100%;
    }

    // Mettre le filtre à droite
    .filter-field {
      text-align: right;

      input{
        color: var(--noir);
      }
    }

  }

  .scroll{
    max-height: 70vh;  // Le conteneur de défilement prendra 70% de la hauteur de l'écran
    overflow: scroll;
    overflow-x: hidden;
  }
}

mat-header-cell {
  text-align: justify;
  font-weight: bold;
  font-family: "Arial Black", sans-serif;
  font-size: 18px;
  border: 1px solid var(--noir);
  background-color: var(--bleufonce);
  color: var(--orange);
}

mat-cell {
  font-weight: normal;
  font-size: 18px;
  border: 1px solid var(--noir);
  background-color: var(--grisclair);
  color: var(--noir);
}

mat-table {
  background-color: var(--grismoyen);
  width: 100%;
  border-collapse: collapse;  // Pour s'assurer que les bordures des cellules ne se chevauchent pas
  margin-top: 20px;
}



// Centrer le spinner
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


//Customiser la couleur du spinner
:host ::ng-deep .custom-spinner circle{
  stroke: var(--orange);
}
