/* Container , la dimension qu'il va prendre*/
.container {
  display: flex;
  height: 100%;
}

/* Content Panel , largeur du contentPanel , Couleur du background et centrer le contenu */
.contentPanel {
  flex: 0 0 15%;
  background-color: var(--bleumoyen);
  padding: 10px;
  text-align: center;

  li{
    border-radius: 60px;

  }

}

/* Button , couleur de l'arrière plan de chaque bouton , placement , bordure et le curseur au survol*/
.button {
  background-color: var(--blanc);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #818296;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;

  /* Anchor , placement , et désactivation des text décoration */
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    /* Visited state , couleur du texte lorsque le lien a déjà été visité*/
    &:visited {
      color: var(--noir);
    }


  }

  /* Icon , taille , marge et animation */
  .icon {
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s ease;
    color: var(--noir);

  }

  /* Item Name , taille et animation */
  .itemName {
    font-size: 16px;
    font-weight:500;
    transition: color 0.3s ease;
    color: var(--noir);
    &:hover {
      color: var(--orangeclair);
    }
  }
}

/* Content Area , l'espace qu'il va occuper ,couleur du background et l'espacement intérieur */
.contentArea {
  flex: 1;
  background-color: #FFFFFF;
}
