.container {
  background-color: var(--color-white);
  padding: 20px;


  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  .placementSecondContainer {
    background-color: var(--color-neutral-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;

    .secondContainer {
      .header-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .filter-field {
          flex: 1;
          max-width: 300px;

          h3 {
            font-size: 24px;
          }

          mat-form-field {
            width: 100%;
          }
        }

        .menu-and-add {
          display: flex;

          app-menu-group-admin {
            margin-right: 10px;
          }
        }
      }

      .scroll {
        overflow-y: auto;
        border-radius: 5px;
        background-color: var(--color-white);
        padding: 10px;

        mat-table {
          width: 100%;

          mat-header-cell,
          mat-cell {
            text-align: left;
          }
        }

        mat-paginator {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}


:host ::ng-deep .custom-spinner circle {
  stroke: var(--color-accent);
}
