
#cancelButton{
  background-color: rgba(255, 0, 0, 0.78);

  &:hover{
    background-color: red;
  }

  &:active{
    background-color: red;
  }
}
#deleteButton{
  background-color: rgba(0, 100, 0, 0.87);

  &:hover{
    background-color: green;
  }
  &:active{
    background-color: darkgreen;
  }
}



.buttonPlacement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.container{
  background-color: var(--color-white);
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1{
    color: var(--color-primary-dark);
    text-align: center;
  }

  strong{
    color: red;
  }
}
