<div class="container">
  <div class="allTheGroupe">
    <div class="tableArea">
      <ng-container *ngIf="groups$ | async as groups">
        <h2>Groupes</h2>
        <div class="scrollable-table">
          <mat-list>
            <mat-list-item *ngFor="let group of groups">
              <button mat-icon-button
                      [routerLink]="['//adminPanel/group/', group.id]"
                      (click)="onButtonClick(group.id)"
                      class="group-button"
                      [class.selected]="selectedGroupId === group.id">
                <mat-icon>groups</mat-icon>
                <span>{{ group.name }}</span>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </ng-container>
      <ng-template #noGroups>
        <h2>Aucun groupe trouvé</h2>
      </ng-template>
    </div>
    <app-access-adding-group></app-access-adding-group>
  </div>
  <div class="contentArea">
    <router-outlet></router-outlet>
  </div>
</div>
