.container{
  width: 100%;
  height: 100%;
  display: flex;
}


.allTheGroupe{
  box-sizing: content-box;
  min-width: 20%;
  max-width: 20%;
  height: 100%;

  .tableArea{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary-lightest);
    overflow: hidden;


    table{
      background-color: var(--color-primary-lightest);
      width: 100%;
      min-height: 15%;
      max-height: 15%;
      overflow-y: auto;


      th{
        color: var(--color-primary-dark);
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
      }


      td{
        background-color: var(--color-white);
        border: 1px solid var(--color-primary-dark);
        box-shadow: 5px 2px 2px var(--color-primary-dark);
        border-radius: 4px;

        button{
          padding: 2rem;

          span{
            padding: 20px;
          }

          &:hover {
            color: var(--color-accent-light);
          }
        }
      }


    }

  }

  app-access-adding-group {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.contentArea {
  flex-grow: 1;
  background-color: var(--color-white);
}



.scrollable-table {
  overflow-y: auto;
  max-height: 90%;

}
