mat-icon{
  font-size: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areaDiv{
  width: 100%;
  height: 100%;
}

.addingUser{
  color: var(--noir);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: var(--color-accent);
  }
}
