.icon-button {
  /* Ajustez la position du bouton, la taille de la police et le remplissage */
  position: relative;
  font-size: 30px;
}

mat-icon {
  /* Ajustez la position de l'icône, la taille de la police et la couleur */
  position: absolute;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--orangeclair);
}
