.container-dialog {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.container th{
  color: var(--color-accent);
}

.container-dialog .container {
  background-color: var(--color-primary-light);
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
  max-height: 80vh;
  min-height: 50vh;
}

.container-dialog mat-error {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #ff0033;
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
}

.container-dialog .placementButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mat-paginator{
  background-color: var(--color-accent-light);
  color: var(--color-white);
  height: 6%;
  width: 100%;
  margin-top: 10px;
}

.scroll{
  max-height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
}

button {
  color: var(--color-white);
  background-color: var(--color-accent);
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px; // Espacement entre le tableau et le bouton
  align-self: center; // Centre le bouton dans le conteneur
}


table{
  background-color: var(--color-neutral-light);
  width: 100%;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  overflow: hidden;

}

button:hover {
  background-color: var(--color-accent-light);
  color: var(--color-accent);
}

