.container-dialog {
  display: flex;
  flex-direction: row; // Change from 'column' to 'row'
  align-items: flex-start; // Aligns the tables at the top
  justify-content: space-between; // Adds space between the tables
  height: 100%;
  width: 100%;
  gap: 20px; // Adds space between the containers
}

.container th{
  color: var(--orange);
}

.container-dialog .container {
  background-color: #3E4160;
  border-radius: 15px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 45%; // Adjust as per your needs
  max-height: 80vh;
  min-height: 50vh; // Set a minimum height to keep the background visible even when the table is empty
  overflow: auto;
}

.container-dialog mat-error {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #ff0033;
  font-family: "Times New Roman", sans-serif;
  font-size: 14px;
}

.container-dialog .placementButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

mat-paginator{
  background-color: var(--orangeclair);
  color: white;
  border-radius: 15px;
  height: 6%;
  width: 100%;
  margin-top: 10px;
}

.scroll{
  max-height: 70vh;
  overflow: scroll;
  overflow-x: hidden;
}

button {
  color: white;
  background-color: var(--orange);
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px; // Espacement entre le tableau et le bouton
  align-self: center; // Centre le bouton dans le conteneur
}

