

<div class="container-dialog">
  <div class="container">
    <form [formGroup]="formulaire">
      <h1>Updating Group</h1>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" (keyup)="errorComplete = false">
        <mat-error *ngIf="formulaire.controls['name'].hasError('required')">Last Name is required</mat-error>
        <mat-error *ngIf="formulaire.controls['name'].hasError('minlength')">Last Name must be at least 6 characters</mat-error>
        <mat-error *ngIf="formulaire.controls['name'].hasError('maxlength')">Last Name must be max 15 characters</mat-error>
      </mat-form-field>

      <div class="placementButton">
        <button id="cancelButton" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        <button id="logIn" type="submit" mat-raised-button color="primary">Update</button>
      </div>
    </form>
  </div>
</div>
