<div class="container">


  <div class="leftPanel">

      <div class="titleLeftPanel">
        <h3>Membres</h3>
      </div>
      <div class="contentLeftPanel">

      </div>

  </div>

  <div class="middlePanel">


        <div class="topHeaderForTittle">
          <h3>Canal : </h3>
          <button mat-button><mat-icon color="accent">vertical_align_bottom</mat-icon></button>
        </div>

        <div class="contentMessage">

          <div class="message">

          </div>

        </div>



    <div class="messageContainer">
      <form class="messageInput">
        <button mat-icon-button matPrefix ><mat-icon color="accent">upload</mat-icon></button>
        <input type="text" class="messageOne">
        <button mat-icon-button matSuffix color="accent" ><mat-icon color="accent">send</mat-icon></button>
      </form>
    </div>

  </div>

  <div class="rightPanel">

    <div class="titleRightPanel">
      <h3>Fichier partagés</h3>
    </div>

    <div class="contentRight panel">

    </div>

  </div>

</div>
