<div class="container">


  <div class="leftPanel">

      <div class="titleLeftPanel">
        <h3>Membres</h3>
      </div>
    <div class="contentLeftPanel">
      <div class="scroll">
      <mat-list *ngIf="channel && channel.members">
        <mat-list-item *ngFor="let member of channel.members" class="member-item">
          <mat-icon color="warn" class="leftIcon" >account_circle</mat-icon>
          <p class="centered-text">{{ member?.firstname }} {{member.lastname}}</p>
        </mat-list-item>
      </mat-list>

    </div>
    </div>


  </div>

  <div class="middlePanel">


        <div class="topHeaderForTittle">
          <div class="placementTittleForChannel">
          <h3>Canal</h3>
          <h2><strong> {{ channel?.name }}</strong></h2>
          </div>
          <app-menu-export></app-menu-export>
        </div>



    <div id="contentMessage">
      <div class="message" *ngFor="let message of messages">
        <p>
          <mat-icon color="warn" class="leftIconMessage">account_circle</mat-icon>
          <strong *ngIf="isIncomingMessage(message)">{{ message.sender.firstname }} {{message.sender.lastname}} </strong>
          : {{ message.content }}
        </p>
      </div>
    </div>





    <div class="messageContainer">
      <app-menu-envoi-fichier></app-menu-envoi-fichier>
      <form class="messageInput" [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <input type="text" autocomplete="off" class="messageOne" formControlName="message">
        <button mat-icon-button matSuffix color="accent" type="submit"><mat-icon color="accent">send</mat-icon></button>
      </form>
    </div>

  </div>

  <div class="rightPanel">

    <div class="titleRightPanel">
      <h3>Fichier partagés</h3>
    </div>

    <div class="contentRight panel">

    </div>

  </div>

</div>
