<div class="container">


  <div class="leftPanel">

      <div class="titleLeftPanel">
        <h3>Membres</h3>
      </div>
    <div class="contentLeftPanel">
      <div class="scroll">
      <mat-list *ngIf="channel && channel.members">
        <mat-list-item *ngFor="let member of channel.members" class="member-item">
          <mat-icon color="warn" class="leftIcon" >account_circle</mat-icon>
          <p class="centered-text">{{ member?.firstname }}</p>
        </mat-list-item>
      </mat-list>

    </div>
    </div>


  </div>

  <div class="middlePanel">


        <div class="topHeaderForTittle">
          <h3>Canal: {{ channel?.name }}</h3>
          <app-menu-export></app-menu-export>
        </div>



        <div class="contentMessage">

          <div class="message" *ngFor="let message of messages">
            <p>{{ message.content }}</p>
          </div>

        </div>



    <div class="messageContainer">
      <form class="messageInput">
        <app-menu-envoi-fichier></app-menu-envoi-fichier>
        <input type="text" class="messageOne" name="newMessage" [(ngModel)]="newMessage">
        <button mat-icon-button matSuffix color="accent" ><mat-icon color="accent">send</mat-icon></button>
      </form>
    </div>

  </div>

  <div class="rightPanel">

    <div class="titleRightPanel">
      <h3>Fichier partagés</h3>
    </div>

    <div class="contentRight panel">

    </div>

  </div>

</div>
