.addingGroup{
  height: 10%;
  width: 40%;
  background-color: var(--bleufonce);
  color: var(--blanc);
  border: 1px solid var(--noir);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
