/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --orangeclair: #FF9763;
  --orange: #ED6636;
  --grisclair: #D9D9D9;
  --blanc: #FFFFFF;
  --noir: #000011;
  --bleufonce: #151B36;
  --bleumoyen: #3E4160;
  --grisfoncé: #818296;
}

