
<div class="containerAll">
  <form class="container" [formGroup]="formulaire">
    <h1>Updating user</h1>
    <mat-form-field appearance="fill">
      <mat-label>LastName</mat-label>
      <input matInput type="text" formControlName="lastname" (keyup)="errorComplete=false">
      <mat-error *ngIf="formulaire.controls['lastname'].hasError('required')" >LastName is required</mat-error>
      <mat-error *ngIf="formulaire.controls['lastname'].hasError('minlength')" >LastName must be at least 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Firstname</mat-label>
      <input matInput type="text" formControlName="firstname" (keyup)="errorComplete=false">
      <mat-error *ngIf="formulaire.controls['firstname'].hasError('required')">Firstname is required</mat-error>
      <mat-error *ngIf="formulaire.controls['firstname'].hasError('minlength')">Firstname must be at least 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" (keyup)="errorComplete=false">
      <mat-error *ngIf="formulaire.controls['email'].hasError('required')">Email must not be empty</mat-error>
      <mat-error *ngIf="formulaire.controls['email'].hasError('email')">Email is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select [formControl]="formRole" multiple>
        <mat-select-trigger>
          {{roles[0].name || ''}}
          <span *ngIf="(formRole.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(formRole.value?.length || 0) - 1}} {{formRole.value?.length === 2 ? 'other' : 'others'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let role of roles" [value]="roles">{{role.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="placementButton">
    <button id="cancelButton" mat-raised-button color="warn">Annuler</button>
    <button id="logIn" type="submit" mat-raised-button color="primary">Valider</button>
    </div>
  </form>
</div>

