<div class="container">
  <div class="loading" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate" class="custom-spinner"></mat-progress-spinner>
  </div>

  <div>


    <div class="table-header">
      <div class="add-user">
      </div>

      <div class="filter-field">
        <h3>Members</h3>
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter(filterValue)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="scroll">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="firstname">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstname"> First Name </mat-header-cell>
          <mat-cell *matCellDef="let member"> {{member.firstname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastname">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastname"> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let member"> {{member.lastname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email </mat-header-cell>
          <mat-cell *matCellDef="let member"> {{member.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let member"> <app-menu-utilisateur [userId]="member.id"></app-menu-utilisateur> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>

    <mat-paginator
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizesOption"
                   [pageIndex]="pageIndex"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
